# Hackclub Auth
PUBLIC_HACKCLUB_AUTH= #HCA OAuth Client ID
HACKCLUB_SECRET= #HCA OAuth Client Secret
PUBLIC_HACKCLUB_REDIRECT= #HCA OAuth Redirect URL
# Hackatime Auth
PUBLIC_HACKATIME_AUTH= #Hackatime OAuth Client ID
HACKATIME_SECRET= #Hackatime OAuth Client Secret
PUBLIC_HACKATIME_REDIRECT= #Hackatime OAuth Redirect URL
# Database Connection
DATABASE_URL= #Postgres connection string
# General info
START_DATE= #Hackatime start date in YYYY-MM-DD format
ALLOWED_EMAILS= #UNUSED, ADD EMAILS SEPARATED BY COMMAS
BASE_URL= #Base URL of the app, used for generating links in Referral system
# Slack Bot, BOT AUTH is the token to communicate with bot and SLAACK_BOT_TOKEN is the token to communicate with slack API, 1st is required to notify user via slack and second is required to convert slack user id to their names
BOT_AUTH= #Token to communicate with Slack Bot
SLACK_BOT_TOKEN= #Token to communicate with Slack API
#Used for referral system code generation
USERID_ENCRYPTION_KEY= #Used to cipher user id in referral system, should be 8 characters long
# Admin panel Hackclub OAuth
PUBLIC_ADMIN_HACKCLUB_AUTH= #Admin panel HCA OAuth Client ID
PUBLIC_ADMIN_HACKCLUB_REDIRECT= #Admin panel HCA OAuth Redirect URL
ADMIN_HACKCLUB_SECRET= #Admin panel HCA OAuth Client Secret
# Admin panel JSON Web Token Signing secret (HS256)
ADMIN_JWT_SECRET= #Admin panel JSON Web Token Signing secret (HS256)
# CDN Upload Secret
CDN_UPLOAD_SECRET=sk_cdn_ #Secret used to upload files to Hackclub CDN
# User Auth Token HS256 Key
USER_JWT_SECRET= #User Auth Token HS256 Key
# PII Encryption Key (AES256-GCM, Hexadecimal, 32 bytes)
PII_ENCRYPTION_KEY= #Used to encrypt PII data in database, should be 32 bytes long
# Airtable Personal Access Token
AIRTABLE_PAT= #Airtable Personal Access Token for Unified DB
AIRTABLE_BASE= #Airtable Base ID for Unified DB
# Turned off?
PUBLIC_TURNED_OFF= #Used to turn off the app and show under maintenance page, set to true to turn off the app, false to turn on the app