@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";
@import "@fontsource-variable/inter";
@source "src/**/*.{svelte,ts,js,html,md}";

@custom-variant dark (&:is(.dark *));
@font-face {
  font-family: 'Comic Sans';
  src: url('/comic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body{
    overflow-x: hidden;
    width: 100vw;
    margin: 0;
}
::-webkit-scrollbar {
  width: 2px
}

::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent,red, transparent)
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent,rgb(255, 104, 104), transparent)

}

	@theme inline {
    --font-heading: var(--font-sans);
    --font-sans: 'Inter Variable', sans-serif;
    --font-alchemize: 'Montserrat', sans-serif;
    --font-hero: 'Comic Sans', cursive, sans-serif;
    --font-saira: 'Saira Stencil', sans-serif;
    --color-sidebar-ring: var(--sidebar-ring);
    --background-image-gradbg: linear-gradient(to bottom right, #09090b, #180c0e, #240a10);
    --background-image-admin: linear-gradient(
      to bottom right,
      var(--color-neutral-900),
      var(--color-blue-950),
      var(--color-sky-900)
    );
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-admin-primary: var(--admin-primary);
    --color-admin-text: var(--admin-text);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);
}

	.dark {
    --background: oklch(1 0 0);
    --foreground: oklch(0.148 0.004 228.8);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.148 0.004 228.8);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.148 0.004 228.8);
    --primary: oklch(0.514 0.222 16.935);
    --admin-primary: oklch(16.181% 0.08482 271.754);
    --primary-foreground: oklch(0.969 0.015 12.422);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --muted: oklch(0.963 0.002 197.1);
    --muted-foreground: oklch(0.56 0.021 213.5);
    --accent: oklch(0.963 0.002 197.1);
    --accent-foreground: oklch(0.218 0.008 223.9);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.925 0.005 214.3);
    --input: oklch(0.925 0.005 214.3);
    --ring: oklch(0.723 0.014 214.4);
    --chart-1: oklch(0.81 0.117 11.638);
    --chart-2: oklch(0.645 0.246 16.439);
    --chart-3: oklch(0.586 0.253 17.585);
    --chart-4: oklch(0.514 0.222 16.935);
    --chart-5: oklch(0.455 0.188 13.697);
    --radius: 0.625rem;
    --sidebar: oklch(0.987 0.002 197.1);
    --sidebar-foreground: oklch(0.148 0.004 228.8);
    --sidebar-primary: oklch(0.586 0.253 17.585);
    --sidebar-primary-foreground: oklch(0.969 0.015 12.422);
    --sidebar-accent: oklch(0.963 0.002 197.1);
    --sidebar-accent-foreground: oklch(0.218 0.008 223.9);
    --sidebar-border: oklch(0.925 0.005 214.3);
    --sidebar-ring: oklch(0.723 0.014 214.4);
}

	:root {
    --admin-bg: var(--color-blue-950);
    --admin2-bg: var(--color-sky-900);
    --background: oklch(0.148 0.004 228.8);
    --foreground: oklch(0.987 0.002 197.1);
    --radius: 0.625rem;
    --card: oklch(0.218 0.008 223.9);
    --card-foreground: oklch(0.987 0.002 197.1);
    --popover: oklch(0.218 0.008 223.9);
    --popover-foreground: oklch(0.987 0.002 197.1);
    --primary: oklch(37.692% 0.15072 15.184);
    --admin-primary: oklch(0.62 0.19 275);
    --admin-primary-hover: oklch(67.58% 0.17211 274.981);
    --admin-text: oklch(0.92 0.02 255);
    --primary-foreground: oklch(0.969 0.015 12.422);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.275 0.011 216.9);
    --muted-foreground: oklch(0.723 0.014 214.4);
    --accent: oklch(0.275 0.011 216.9);
    --accent-foreground: oklch(0.987 0.002 197.1);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.56 0.021 213.5);
    --chart-1: oklch(0.81 0.117 11.638);
    --chart-2: oklch(0.645 0.246 16.439);
    --chart-3: oklch(0.586 0.253 17.585);
    --chart-4: oklch(0.514 0.222 16.935);
    --chart-5: oklch(0.455 0.188 13.697);
    --sidebar: oklch(0.21 0.006 285.885);
    --sidebar-foreground: oklch(0.987 0.002 197.1);
    --sidebar-primary: oklch(0.645 0.246 16.439);
    --sidebar-primary-foreground: oklch(0.969 0.015 12.422);
    --sidebar-accent: oklch(0.275 0.011 216.9);
    --sidebar-accent-foreground: oklch(0.987 0.002 197.1);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.56 0.021 213.5);
}

	@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
  html {
    @apply font-sans;
    @apply scroll-smooth;
    }
  button:not(:disabled), [role="button"]:not(:disabled) {
    cursor: pointer;
    }
}