@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil:ital,wght@0,100..900;1,100..900&display=swap");
@import 'tailwindcss';

body{
    overflow-x: hidden;
    width: 100vw;
    margin: 0;
}
::-webkit-scrollbar {
  width: 2px
}

::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent,red, transparent)
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent,rgb(255, 104, 104), transparent)

}
	.alchemizefont {
		font-family: "Saira Stencil", cursive;
	}